{% extends "base.html" %}
{% load i18n %}
{% block title %}register_page{% endblock %}
{% block content %}
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
       
		<div class="button-wrapper submit">
			<input type="submit" value="{% trans '注册' %}" />
		</div>
	</form>
</div>
<script>
    $(function(){
    $('.captcha').css({
        'cursor': 'pointer'
    })
    # ajax 刷新
    $('.captcha').click(function(){
        console.log('click');
         $.getJSON("/captcha/refresh/",
                  function(result){
             $('.captcha').attr('src', result['image_url']);
             $('#id_captcha_0').val(result['key'])
          });


});

    # ajax动态验证
    $('#id_captcha_1').blur(function(){  // #id_captcha_1为输入框的id，当该输入框失去焦点是触发函数
        json_data={
            'response':$('#id_captcha_1').val(),  // 获取输入框和隐藏字段id_captcha_0的数值
            'hashkey':$('#id_captcha_0').val()
        }
        $.getJSON('/ajax_val', json_data, function(data){ //ajax发送
            $('#captcha_status').remove()
            if(data['status']){ //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息
                $('#id_captcha_1').after('<span id="captcha_status" style="color:blue">*验证码正确</span>')
            }else{
                 $('#id_captcha_1').after('<span id="captcha_status" style="color:red">*验证码错误</span>')
            }
        });

    });


    })

    </script>
    <script src='/static/js/jquery-3.2.1.min.js'></script>
{% endblock %}
